streamlit
pandas
numpy
plotly
PyPDF2
spacy
scikit-learn
python-dotenv
groq
google-generativeai
faiss-cpu
langchain
langchain-community
langchain-google-genai
sentence-transformers
transformers
torch
matplotlib
spacy 
duckduckgo-search
google-genai
agno 
'''python -m spacy download en_core_web_sm'''